img {
	max-width: 88%;
}

/* anchor icon */
.anchor img {
	margin-left: +8px;
	margin-top: -14px;
	visibility: hidden;
} .anchor:hover img {
	visibility: visible !important;
}

/* logo */
.navbar img {
	float: left;
}
