/* css taken from : https://nrk.neocities.org/ */
/* :root { */
/*     --col_fg: #ebdbb2; */
/*     --col_lfg: #ead59d; */
    
/*     --col_bg: #141818; */
/*     --col_lbg: #202020; */

/*     --col_red: #e53231; */
/*     --col_lred: #e53231; */
    
/*     --col_orange: #efb551; */
/*     --col_lorange: #d8813a; */
    
/*     --col_blue: #78dada; */
/*     --col_lblue: #4093cb; */
    
/*     --col_green: #3eca3e; */
/*     --col_lgreen: #3eca3e; */
    
/*     --col_black: #282828; */
/*     --col_lblack: #484848; */
/* } */

:root {
    --col_fg: #586e75;
    --col_lfg: #586e75;
    
    --col_bg: #fdf6e3;
    --col_lbg: #ffe7a6;

    --col_red: #dc322f;
    --col_lred: #cb4b16;
    
    --col_orange: #b58900;
    --col_lorange: #b58900;
    
    --col_blue: #268bd2;
    --col_lblue: #268bd2;
    
    --col_green: #859900;
    --col_lgreen: #586e75;
    
    --col_black: #073642;
    --col_lblack: #002b36;
}


/* @font-face { */
/* 	font-family: nrk; */
/* 	src: url(VictorMono.woff2); */
/* } */

@font-face {
    font-family: nrk;
    font-weight: normal;
    src: url(ComicCode.ttf);
}

* {
	font-family: "nrk", "monospace";
	font-variant-ligatures: none;
}

body {
	color: var(--col_fg);
	background-color: var(--col_bg);
	font-size: 100%;
	line-height: 24px;
	margin: auto;
	padding-left: 24px;
	padding-right: 24px;
	max-width: 86ch;
}

b, strong {
    color: var(--col_blue);
    font-weight: bolder;
}

i {
    color: var(--col_green);
    font-style: italic;
}

a {
	color: var(--col_lblue);
	text-decoration: none;
} a:hover {
	color: var(--col_orange);
	background: var(--col_bg);
}

img {
	max-width: 88%;
}

h1 {
	color: var(--col_lred);
	font-size: 150%;
	text-align: center;
	margin-bottom: 8px;
	margin-top: 8px;
} h2, h3, h4, h5, h6 {
	color: var(--col_lorange);
	font-size: 102%;
	margin-bottom: 16px;
}

/*
 * Adjusting sizes of headings
 */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

hr {
	border-color: var(--col_fg);
	margin-top: 22px;
	margin-bottom: 22px;
}

/* codeblocks */
pre, code {
    color: var(--col_lfg);
    font-family: "nrk", "monospace";
} code, kbd {
	background-color: var(--col_lbg);
	padding: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
} code {
	border: 1px solid var(--col_black);
} kbd {
	font-size: 85%;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid var(--col_lblack);
} pre code {
	overflow: auto;
	padding: 12px;
	display: block;
} a > code {
	color: var(--col_lblue);
}

/* quote */
blockquote {
        color: var(--col_lfg);
	margin-left: initial;
	border-left: 2px solid var(--col_lgreen);
	background-color: var(--col_lbg);
	padding-left: 8px;
}

/* tables */
table {
	border-collapse: collapse;
} td, th {
	border: 1px solid;
	padding-left:  1em;
	padding-right: 1em;
}
